<!doctype html>
<html lang="en">

<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', { "title": "REEN" })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>

<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <main class="main-container">
      <section class="block1">
        <div class="container">
          <div class="beautiful-clean">
            <div class="beautiful-clean-top">
              <div class="row">
                <div class="col-12 text-center">
                  <h2>Beautiful. Clean. Responsive.</h2>
                  <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
                </div>
              </div>
            </div>
            <!-- end .beautiful-clean -->
            <div class="beautiful-clean-buttom">
              <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-3">
                  <div class="row">
                    <div class="col-1 col-sm-2 col-md-3">
                      <div class="icon">
                        <img src="../../images/icon-heart-empty-1.png" alt="heart">
                      </div>
                    </div>
                    <div class="col-11 col-sm-10 col-md-9">
                      <div class="passion">
                        <h3>Passion</h3>
                        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
                      </div>
                      <!-- end .passion -->
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 mb-3">
                  <div class="row">
                    <div class="col-1 col-sm-2 col-md-3">
                      <div class="icon">
                        <img src="../../images/icon-lamp.png" alt="lamp">
                      </div>
                    </div>
                    <div class="col-11 col-sm-10 col-md-9">
                      <div class="creativity">
                        <h3>Creativity</h3>
                        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
                      </div>
                      <!-- end .creativity -->
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 mb-3">
                  <div class="row">
                    <div class="col-1 col-sm-2 col-md-3">
                      <div class="icon">
                        <img src="../../images/icon-star-empty-1.png" alt="star">
                      </div>
                    </div>
                    <div class="col-11 col-sm-10 col-md-9">
                      <div class="quality">
                        <h3>Quality</h3>
                        <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
                      </div>
                      <!-- end .quality -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .beautiful-clean-buttom -->
          </div>
        </div>
      </section>
      <!-- end section .block1 -->
      <section class="block2 text-center">
        <div class="container">
          <div class="block2-content">
            <div class="block2-top">
              <div class="row">
                <div class="col-12">
                  <h2>Check out our latest works</h2>
                  <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
                </div>
              </div>
            </div>
            <!-- end .block2-top -->
            <div class="block2-center">
              <div class="row">
                <div class="col-6">
                  <img src="../../images/image1.jpg" alt="grand-motel" class="img-fluid">
                  <div class="grand-motel">
                    <div class="grand-motel-content">
                      <h5>Grand Motel gets an identity brushup</h5>
                      <p>Identity</p>
                    </div>
                  </div>
                  <!-- end .grand-motel -->
                </div>
                <div class="col-6">
                  <img src="../../images/image2.jpg" alt="fresh" class="img-fluid">
                  <div class="fresh">
                    <div class="fresh-content">
                      <h5>Fresh branding for a creative startup</h5>
                      <p>Identity</p>
                    </div>
                  </div>
                  <!-- end .fresh -->
                </div>
              </div>
            </div>
            <!-- end .block2-center -->
            <div class="block2-bottom">
              <div id="my-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li class="active" data-target="#my-carousel" data-slide-to="0" aria-current="location"></li>
                  <li data-target="#my-carousel" data-slide-to="1"></li>
                  <li data-target="#my-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-1.jpg" alt="slide-small-1">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-2.jpg" alt="slide-small-2">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-3.jpg" alt="slide-small-3">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-4.jpg" alt="slide-small-4">
                      </div>
                    </div> 
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-3.jpg" alt="slide-small-3">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-1.jpg" alt="slide-small-1">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-4.jpg" alt="slide-small-4">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-2.jpg" alt="slide-small-2">
                      </div>
                    </div> 
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-4.jpg" alt="slide-small-4">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-2.jpg" alt="slide-small-2">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-1.jpg" alt="slide-small-1">
                      </div>
                      <div class="col-3 col-sm-3 col-md-3">
                        <img class="d-block w-100" src="../../images/slide-small-3.jpg" alt="slide-small-3">
                      </div>
                    </div> 
                  </div>
                </div>
                <a class="carousel-control-prev" href="#my-carousel" data-slide="prev" role="button">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#my-carousel" data-slide="next" role="button">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <!-- end .block2-bottom -->
          </div>
          <!-- .end block2-content -->
        </div>
      </section>
      <!-- end section .block2 -->
      <section class="block3 text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="block3-content">
                <h3>Want to work with us?</h3>
                <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                <button>get in touch</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end section .block3 -->
    </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>

</html>
