<footer class="footer-container">
  <div class="footer-top">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xl-3 mb-2 content-col">
            <h3>Who we are</h3>
            <div class="who-you-are">
              <div class="logo-footer">
                <img src="../../images/logo-footer.png" alt="logo-footer">
              </div>
              <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
              <a href="#">More about us<i class="fas fa-arrow-right"></i></a>
            </div>
            <!-- end .who-you-are -->
          </div>
          <div class="col-sm-6 col-md-6 col-xl-3 mb-2 content-col">
            <h3>Latest works</h3>
            <div class="latest-works">
              <div class="row">
                <div class="col-6 col-md-6 col-xl-6 img-content">
                  <img src="../../images/image-footer-1.jpg" alt="footer-1">
                </div>
                <div class="col-6 col-md-6 col-xl-6 img-content">
                  <img src="../../images/image-footer-2.jpg" alt="footer-2">
                </div>
                  <div class="col-6 col-md-6 col-xl-6 img-content">
                    <img src="../../images/image-footer-3.jpg" alt="footer-3">
                  </div>
                  <div class="col-6 col-md-6 col-xl-6 img-content">
                    <img src="../../images/image-footer-4.jpg" alt="footer-4">
                  </div>
              </div>
            </div>
            <!-- end .latest-works -->
          </div>
          <div class="col-sm-6 col-md-6 col-xl-3 mb-2 content-col">
            <h3>Get in touch</h3>
            <div class="get-in-touch">
              <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
              <div class="location"><i class="fas fa-map-marker-alt"></i>84 Street, City, State 24813</div>
              <div class="mobile-ft"><i class="fas fa-mobile"></i>+00(123)456 78 90</div>
              <div class="envelope-ft"><i class="fas fa-envelope"></i>info@reen.com</div>
            </div>
            <!-- end .get-in-touch -->
          </div>
          <div class="col-sm-6 col-md-6 col-xl-3 mb-2 content-col">
            <h3>Free updates</h3>
            <div class="free-uptate">
              <p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
              <form action="">
                <input type="text" placeholder="Enter your email adderss">
                <button>subscribe</button>
              </form>
            </div>
            <!-- end .free-uptate -->
          </div> 
        </div>
      </div>
    </div>
  </div>
  <!-- end .footer-top -->
  <div class="footer-bottom">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p>© 2014 REEN. All rights reserved.</p>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="list-footer">
              <ul>
                <li><a href="#">home</a>
                </li>
                <li><a href="#">portfolio</a>
                </li>
                <li><a href="#">blog</a>
                </li>
                <li><a href="#">about</a>
                </li>
                <li><a href="#">services</a>
                </li>
                <li><a href="#">contact</a>
                </li>
              </ul>
            </div>
            <!-- end .list-footer -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end .footer-bottom -->
</footer>
